<p>
  <strong>Title:</strong>
  <%= @organization.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @organization.url %>
</p>

<p>
	<strong>Address:</strong>
	<%= @organization.address %>
</p>

<p>
	<strong>Address:</strong>
	<%= @organization.address_2 %>
</p>

<p>
	<strong>City:</strong>
	<%= @organization.city %>
</p>

<p>
	<strong>State:</strong>
	<%= @organization.state %>
</p>

<p>
	<strong>ZIP Code:</strong>
	<%= @organization.zip %>
</p>

<p>
	<strong>EIN:</strong>
	<%= @organization.ein %>
</p>

<p>
	<strong>Telephone:</strong>
	<%= @organization.telephone %>
</p>

<p>
	<strong>Contact:</strong>
	<%= @organization.contact %>
</p>

<p>
	<strong>NTEE Category:</strong>
	<%= @organization.ntee_category %>
</p>

<p>
	<strong>Keywords:</strong>
	<%= @organization.keywords %>
</p>

<p>
	<strong>Categories:</strong>
	<%= @organization.categories %>
</p>

<p>
	<strong>Sub-Categories:</strong>
	<%= @organization.sub_categories %>
</p>

<p>
	<strong>Ruling Year:</strong>
	<%= @organization.ruling_year %>
</p>

<p>
	<strong>Mission Statement:</strong>
	<%= @organization.mission %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
